{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "Default": "Host=localhost;Port=6543;Database=memoryappdb;Username=memoryapp;Password=YOUR_DB_PASSWORD"
  },
  "Jwt": {
    "Key": "YOUR_SECRET_KEY_AT_LEAST_32_CHARACTERS",
    "Issuer": "MemoryAppApi",
    "Audience": "MemoryAppClient",
    "ExpireMinutes": 60
  },
  "Smtp": {
    "Host": "smtp.gmail.com",
    "Port": 587,
    "SenderEmail": "YOUR_GMAIL_ADDRESS@gmail.com",
    "SenderName": "MemoryApp",
    "Password": "YOUR_GMAIL_APP_PASSWORD"
  }
}
